Miinaharava/target
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject
/laskarit/viikko2/Unicafe/.settings
/laskarit/viikko2/Unicafe/nbactions.xml
/laskarit/viikko2/Unicafe/.classpath
/laskarit/viikko2/Unicafe/.project

/Miinaharava/nbproject/